jubody {
  margin: 0;
  box-sizing: border-box;
}

p.card-text {
  line-height: 0.5rem;
}

#zero {
  font-size: 2.2rem;
  color: black;
}

#mo {
  font-size: 1.5rem;
  color: grey;
}

.btn.btn-light {
  border: 0.05rem solid grey;
  color: grey;
}

.min {
  display: block;
  margin-left: 250px;
  margin-top: -20px;
  padding: 0;
  font-size: 0.8rem;
  color: grey;
}

#bottom-btn {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 30%;
}
#older {
  color: blue;
  background-color: white;
}
#newer {
  color: grey;
  background-color: white;
}

.card-footer {
  color: grey;
}

#headings {
  display: flex;
  align-items: center;
}
#first-heading {
  font-size: 50px;
  font-weight: 600;
}
#second-heading {
  font-size: 40px;
  font-weight: 400;
  margin-left: 20px;
}

#one {
  background-color: yellow;
}
#two {
  background-color: orange;
}
#three {
  background-color: orangered;
}
