@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-image: url(./images/baclgr.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: azure;
}

#nav {
  height: 170px;
  background-image: url(./images/NavBackground.jpg);
  font-family: "Sansita Swashed", cursive;
  font-size: 2rem;
}

a.nav-link {
  color: white !important;
}

a.nav-link:hover {
  color: darkmagenta !important;
}

#albums {
  margin-top: 236px;
}

#albums img {
  border: 2px solid darkmagenta;
}

h2 {
  font-family: "Sansita Swashed", cursive;
}

hr {
  margin-top: 100px;
  margin-bottom: 100px;
}

#first-blog {
  display: flex;
  flex-wrap: wrap;
}
