* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  width: 100%;
  height: 100vh;
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
}

#logo {
  width: 95px;
  padding: 0;
  height: 55px;
}

#navbar {
  max-width: 100%;
  background-color: black;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

.navbar-dark {
  color: white !important;
}

.nav-link {
  color: #ced4da;
}

#nav-links:hover {
  color: red;
}

.nav-link:hover {
  color: red;
  font-weight: 500;
}

#profile-icon {
  width: 25px;
  height: 25px;
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none;
}

#profile:hover {
  -webkit-box-shadow: 1px 1px 9px 9px rgba(255, 0, 0, 0.41);
  -moz-box-shadow: 1px 1px 9px 9px rgba(255, 0, 0, 0.41);
  box-shadow: 1px 1px 9px 9px rgba(255, 0, 0, 0.41);
  outline: none !important;
}

#profile:focus {
  outline: none !important;
}

#profile {
  color: white;
  outline: none !important;
}

#notify {
  width: 25px;
  height: 25px;
  color: grey;
}

#notify:hover {
  color: red;
}

#search-icon {
  width: 25px;
  height: 25px;
  color: grey;
}

#search-icon:hover {
  color: red;
}

.svg-icon-logo {
  margin-right: 15px;
  color: grey;
  height: 25px;
  width: 36px;
}

.container {
  margin-left: 0px;
  padding-left: 0px;
}

a:hover {
  color: grey;
}

.svg-icon {
  width: 100%;
  height: 100%;
}

.social-links {
  margin-bottom: 1em;
}

.dropdown-menu {
  transform: translateX(-50%);
}

.social-links {
  color: white;
  width: 200px;
  height: 30px;
}

.social-link {
  color: white;
  width: 45px;
  height: 50px;
  margin-right: 10px;
  color: grey;
}

.img-fluid {
  width: 100%;
  height: 170px;
}

.btn {
  color: White;
}

img {
  width: 100%;
  height: 10rem;
}

.row {
  display: flex;
  justify-content: center;
}

body {
  width: 100%;
  height: 100%;
}

#form {
  color: aliceblue;
  margin: 16% auto !important;
  width: 40% !important;
  border-radius: 1rem;
  background-color: rgba(46, 45, 45, 0.4);
}

input[type="text"] {
  border: 0;
  border-bottom: 1px solid red;
  outline: 0;
  background: transparent;
  color: white;
  width: 60% !important;
}

select {
  margin-left: 1.5rem;
  border: 0;
  border-bottom: 1px solid red;
  outline: 0;
  background: transparent;
  color: red;
}

textarea {
  width: 80%;
  border: 0;
  border-bottom: 1px solid red;
  outline: 0;
  background: transparent;
  color: white;
}

#imgUrl {
  width: 100% !important;
}
